<!DOCTYPE html>
<html ng-app="TogglBoard">
  <head>

    <meta charset="UTF-8">
    <title>Toggl Board</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../bower_components/ng-dialog/css/ngDialog.css">
    <link rel="stylesheet" href="../bower_components/ng-dialog/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="../bower_components/ng-dialog/css/ngDialog-theme-plain.css">
  </head>
<body ng-controller="TogglController">
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/ng-dialog/js/ngDialog.js"></script>
	<script src="js/toggl-module.js"></script>
	<div class="page-wrapper">
    <div class="content-wrapper">
      <div class="row">
        <a class="bulk-button" ng-click="bulkStopAll()">Stop All</a>
        <a class="bulk-button" ng-click="bulkStartAll()">Start All</a>
        <input class="task-name" type="text" placeholder="Enter task name" name="taskName" ng-model="taskName">
      </div>
    </div>
			<div class="row">
			<ul id="user-entries" ng-repeat="user in userDataContainer.users">
				<li id="{{ user.fullname }}">
					<div class="user-entry">
						<div class="avatar-container">
							<img src="{{ user.image_url }}" alt="" class="avater">
						</div>
						<div class="content">
							<h4 class="user-name">{{ user.fullname }}</h4>
							<p class="description" ng-if="user.doing_now">
								{{ user.current_time_entry.description }}
							</p>
							<p class="description" ng-if="!user.doing_now">
								does not do something.
							</p>
						</div>
						<div class="time" ng-if="user.doing_now">
							{{ user.current_time_entry.duration_output }}
						</div>
					</div>
				</li>
			</ul>
			</div>
		</div>

		<div class="row">
			<a class="add-user-button" ng-click="openAddUserPrompt()"><i class="fa fa-user-plus"></i> Add User</a>
		</div>
        <div class="row">
            <a class="io-button" ng-click="importFile()"><i class="fa fa-upload">Import</i></a>
             <a class="io-button" ng-click="exportFile()"><i class="fa fa-download">Export</i></a>
        </div>
	</div>
	<script type="text/ng-template" id="template-add-user">
	<div class="popup-add-user">
        <div class="ngdialog-message">
    	<h3>Paste your team member's API Token</h3>
            <p><input type="text" ng-model="apiToken"></p>
        </div>
        <div class="ngdialog-buttons">
            <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm(apiToken)">Confirm</button>
            <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('button')">Cancel</button>
        </div>
	</div>
	</script>
</body>
</html>
