<!DOCTYPE html>
<html ng-app="TogglBoard">
<head>
	<title>Toggl Board</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="TogglController">
	<script src="../bower_components/angular/angular.js"></script>
	<script src="js/toggl-module.js"></script>
	<input type="text" ng-model="apiToken"><button ng-click="addUser()">Add</button>
	<ul ng-repeat="user in userDataContainer.users">
		<li ng-if="user.doing_now" id="{{ user.fullname }}">
			{{ user.fullname }} is doing now {{ user.current_time_entry.description }}
		</li>
		<li ng-if="!user.doing_now" id="{{ user.fullname }}">
			{{ user.fullname }} does not do something.
		</li>
	</ul>
</body>
</html>