@charset "utf-8";

body {
	font-family: Avenir, HiraginoSans-W3, "Yu Gothic", sans-serif;
	background-color: rgb(242, 242, 243);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
	color: #252527;
	font-size: 175%;
}

input {
	border: none;
	outline: none;
}

ul {
	list-style: none;
	padding-left: 0px;
}

li {
	position: relative;
	margin-bottom: 2em;
	height: 4em;
}

.row {
	min-width: 30em;
	margin: 2em;
}

.avater {
	width: 3em;
	height: 3em;
	margin-right: 1em;
	border-radius: 2em;
}

.user-name {
	margin: 0;
	font-size: 0.9em;
	color: #64666D;
}

.avatar-container {
    display: inline-block;
    float: left;
}

.user-entry .description {
	margin: 0.25em 0 1em 0;
	font-size: 1.1em;
}

.user-entry {
    position: relative;
}

.user-entry .time {
    position: absolute;
    right: 0;
    top: 1.5em;
    font-size: 0.9em;
    color: #4F4F50;
}

.user-entry .content {
    border-bottom: 1px solid #e6e6e6;
    float: left;
    width: calc(100% - 4em);
}

a.add-user-button {
    background-color: #B5B6BB;
    color: white;
    padding: 0.25em 0.7em;
    font-size: 0.8em;
    border-radius: 1em;
    cursor: pointer;
}

a.add-user-button:hover {
    background-color: #54555A;
}

.popup-add-user input {
    width: 100%;
    font-size: 1em;
    padding: 0.5em;
}

a.bulk-button {
  background-color: #B5B6BB;
  color: white;
  padding: 0.25em 0.7em;
  font-size: 0.8em;
  border-radius: 1em;
  cursor: pointer;
}

